$body-background-color: #f2f2f2;
$sidebar-color: #F9D849;
$border-color: transparent;

.side-bar {
  width: 300px; // Try 280–300px depending on your title length
}

.main {
  margin-left: 300px; // Match this to your sidebar width
}
